  <div ng-show="defaultLoading"><i class="fa fa-spinner fa-3x"></i></div>
  <header class="weather " ng-show="default"  itemscope itemtype="http://schema.org/Place">
    <h2  class="weather" itemprop="name">{{default.name}}, {{default.sys.country}}</h2>
    <h6>Coords {{default.coord.lon}} , {{default.coord.lat}}</h6>
  </header>
 
   <div class="row" ng-show="default">

        <div class="col-xs-12">
          <section class="weather container-fluid" >
            <h3 class="weather">
              <img ng-src="http://openweathermap.org/img/w/{{default.weather[0].icon}}.png">
              {{default.weather[0].main}}
              <i class="fa fa-long-arrow-down"></i> {{temp.min}} &#176;
              <i class="fa fa-long-arrow-up"></i> {{temp.max}} &#176;
            </h3>

            <h3 class="temp_actual">{{temp.actual}}  &#176; {{degree}}</h3>
            <button  ng-click="changeTempLocation()">{{messageSwitchDegree}} {{degreeSwitch}}  &#176; </button>
          </section>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-12 col-md-4">
            <section class="weather container-fluid"    >

              <h3>About {{default.name}}</h3>
                <article class="column-2">
                  <div class="col-xs-3"><h5>Wind</h5></div>
                  <div class="col-xs-3"><canvas id="windCanvas" width="50" height="50" ></canvas></div>
                  <div class="col-xs-3"><h6>{{default.wind.speed}} m/s</h6></div>
                  <div class="col-xs-3"><h6>Direction {{wind_direction}}</h6></div>
                </article>
                <article class="column-2">
                  <div class="col-xs-6"><h5>Cloudiness</h5></div>
                  <div class="col-xs-6"><h6>{{default.weather[0].description}}</h6></div> 
                </article>
                <article class="column-2">
                  <div class="col-xs-6"><h5>Pressure</h5></div>
                  <div class="col-xs-6"><h6>{{default.main.pressure}} hpa</h6></div> 
                </article>
                <article class="column-2">
                  <div class="col-xs-6"><h5>Humidity</h5></div>
                  <div class="col-xs-6"><h6>{{default.main.humidity}} %</h6></div> 
                </article>
                <article class="column-2">
                  <div class="col-xs-6"><h5>Sunrise</h5></div>
                  <div class="col-xs-6"><h6>{{sunrise}}</h6></div> 
                </article>
                <article class="column-2">
                  <div class="col-xs-6"><h5>Sunset</h5></div>
                  <div class="col-xs-6"><h6>{{sunset}}</h6></div> 
                </article>
                <article class="column-2" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                  <div class="col-xs-6"><h5>Geo coords</h5></div>
                  <div class="col-xs-6" ><h6>[ <span itemprop="longitude" content="{{default.coord.lon}}">{{default.coord.lon}}</span> ,<span  itemprop="latitude" content="{{default.coord.lat}}">{{default.coord.lat}} </span> ]</h6></div> 
                </article>
            </section>
          </div>
          <section class="weather container-fluid" itemscope itemtype="http://schema.org/Event" >
          <h3>Forecast</h3> 
            <aside class="aside">
            <div class="col-xs-12">
              <div class="col-xs-2">Day</div>
              <div class="col-xs-2">HIGH/LOW</div>
              <div class="col-xs-4">Description</div>
              <div class="col-xs-2">Wind</div>
              <div class="col-xs-2">Humidity</div>
            </div>
            <div class="col-xs-12" ng-repeat="day in nextDays" >
                <meta itemprop="startDate" content="{{formatDate(day.dt)}}">
              <div class="col-xs-2">
                  <h5>{{formatDate(day.dt)}}</h5>
              </div>
              <div class="col-xs-2">
                  <h6>
                    <i class="fa fa-long-arrow-up"></i> 
                    {{formatTemp(day.temp.max)}} 
                    &#176; 
                    <i class="fa fa-long-arrow-down"></i> 
                    {{formatTemp(day.temp.min)}} &#176;
                  </h6>
              </div>
              <div class="col-xs-4">
               
                <h6><img ng-src="http://openweathermap.org/img/w/{{default.weather[0].icon}}.png"> {{day.weather[0].description}}</h6>
              </div> 
              <div class="col-xs-2">
                <h6>{{convertDirectionDegree(day.speed)}}</h6>
              </div>
              <div class="col-xs-2">
                <h6>{{day.humidity}} %</h6>
              </div>
            </div>

            </aside>
            </section>
        </div>
   </div>